<% if (@concerts.empty?) %>
<h2>You need to start scrobbling your music preferences so we can help you out</h2>
<% else %>
  <ul class="concerts">
  <% @concerts.each do |concert| %>
    <li>
      <%= link_to concert.name, concert.uri %>
    </li>
  <% end %>
  </ul>
<% end %>
