---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/events.json?apikey=uFtLmeWspnQ0pgDi&artist_name=Glassjaw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"resultsPage":{"status":"ok","results":{},"perPage":50,"page":1,"totalEntries":0}}'
  recorded_at: Sun, 07 Dec 2014 21:16:01 GMT
recorded_with: VCR 2.9.3
