---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/events.json?apiSONGKICK_APIKEY=uFtLmeWspnQ0pgDi&artist_name=Glassjaw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"resultsPage":{"status":"ok","results":{},"perPage":50,"page":1,"totalEntries":0}}'
  recorded_at: Tue, 31 Mar 2015 20:42:39 GMT
recorded_with: VCR 2.9.3
